/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

h1, h2 {
    color: #0056b3;
}

p {
    margin-bottom: 1em;
}

ul, ol {
    margin-left: 1.5em;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}





/* Images */
img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Accordion */
.accordion-button {
    background-color: #0056b3;
    color: white;
    font-weight: bold;
    outline: none;
}

.accordion-button:not(.collapsed) {
    background-color: #003f7f;
}

.accordion-body {
    background-color: #f1f1f1;
}

/* Blog-specific Styles */
h2.text-center {
    margin: 30px 0;
    text-align: center;
    font-size: 1.8rem;
    color: #333;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

ol {
    list-style-type: decimal;
    padding-left: 20px;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 992px) {
    .col-md-6 {
        width: 100%;
        margin-bottom: 20px;
    }

    ul, ol {
        padding-left: 15px;
    }
}

@media (max-width: 768px) {
    .accordion-button {
        font-size: 0.9rem;
    }

    h1 {
        font-size: 1.8rem;
        text-align: center;
    }

    h2 {
        font-size: 1.4rem;
    }
}

@media (max-width: 576px) {
    body {
        font-size: 14px;
    }

 
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    .accordion-body {
        font-size: 0.9rem;
    }
}
